*{
    padding:0px;
    margin:0px;
    
   
}
/* -------header------- */

/* ----main--- */
body{
   
    background-color:  #f6f6f7; 
   
    
    

}


.form-par{
     height:30rem;
     width:60rem; 
     background-color: white;
     display: flex;
     align-self:center;
     margin:auto;
     margin-top:50px;
     /* box-shadow: 0px 0px 3px 3px #24aeb1; */
    /* border-radius: 100px; */

}


.image-child{
    height:30rem;
    width:30rem;
  
    z-index:1;
    background-image: url("/images/image0.jpg");
      background-size:contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: white;

}
.form-sign{
    height: 30rem;
    width:30rem;
    background-color: white;   
  
    
}

.p-signin{
     font-family:LatoBold;
     padding:0;
     font-size: 24px;
     color:#24aeb1;
     margin: auto;
     width:20%;
     margin-top:1.5rem;

}


.p-para{
    font-family: Lato;
  font-size: 14px;
  color:#24aeb1;
  margin:50px;
  margin-top: 30px;
  
  
}
.inner-form label{
    color:#24aeb1;
    font-size: 15px;;
}



form{
    max-width: 300px; 
   margin: 40px auto; 
   padding: 0.3rem; 
  background-color:white ; 
 
   
}



input[type="text"], input[type="email"], input[type="password"] {

    width: 85%; 
    height: 0.5rem; 
    margin-bottom: 20px; 
    padding-top: 10px; 
    padding-bottom: 5px;
    padding-left: 5px;
    color: #095556;
    border: none; 
outline: none;
  border-bottom: 1px solid #24aeb1; 
    
  
  }

  


.inner-form button{
    width:90%;
    height: 2rem;
    background-color: #24aeb1;
    color:white;
    font-size:15px;
    border: #24aeb1;
    border-radius: 3px;
}

.or{
    display:flex;
    justify-content: center;
    margin-top:10px;
    margin-right:30px;
}

.donot{
    margin-left:40px;
}
