* {
    margin: 0;
    font-family: Arial, sans-serif;
}

.logo {
    margin-top: 2.5vh;
    font-size: 1.5rem;
    color: #064648;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    height: 60px;
    background-color: #24aeb1 !important;
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.Signin {
    text-decoration: none !important;
    color: white !important;
}

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

.nav-search:hover {
    border: 2px solid orange !important;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    height: 40px;
    width: 620px;
    border-radius: 4px;
}

.search-select {
    background-color: #f3f3f3 !important;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border: none !important;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none !important;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: white;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    color: #0f1111;
}

.search-input:hover {
    border: none !important;
}

span {
    font-size: 0.7rem !important;
}

.nav-second {
    font-size: 0.85rem !important;
    font-weight: 700 !important;
}

.nav-cart i {
    font-size: 30px !important;
}

.nav-cart {
    font-size: 0.85rem !important;
    font-weight: 700 !important;
}

.panel {
    height: 40px;
    background-color: #24aeb1 !important;
    display: flex;
    color: white !important;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline-block;
    margin-left: 3vw;
    padding-right: 3vw;
    border-right: 1px solid #0a4b4e;
}

p.Medicines {
    margin-left: 7vw !important;
}

p.Beauty {
    border: none !important;
}

.panel-ops p a {
    text-decoration: none !important;
    color: white !important;
}

.panel-ops {
    width: 70%;
    font-size: 1rem !important;
}

.panel-deals {
    font-size: 0.9rem !important;
    font-weight: 700 !important;
}

.slider {
    margin-top: 2px !important;
}
