*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* -----Header----- */
header{
    position: sticky;
    top: 0;
    z-index: 1000;
}
.main_navbar
{
    height: 10vh;
    background-color: #24aeb1;
    color: white;
    display: flex;
    align-items: center;
 
    /* justify-content: space-evenly; */
}
.main_navbar .navbarlogo {
    /* margin-top: 2vh; */
    /* border: 1px solid red; */
    height: 10vh;
    width: 15vw;
    /* justify-content: center; */
    background-image: url(/images/Main_logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.address .dropdown-menu {
    margin-top: 2.5vh;
    padding-left: 1vw;
    width: 22vw;
    /* text-align: center; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 1rem;
    color: #0c4e50;
}
/* .address .dropdown-menu li:hover {
    background-color: #f1f1f1; /* Change hover color as needed */

.address p.addfirst {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
    /* margin-top: 5px; */
   margin-bottom: 0;
   padding-bottom: 0;
   /* border: 1px solid red; */
}

.address p.addsecond {
    font-size: 1rem;
    margin-left: 3px;
    margin-top: -2vh;
    padding: 0;
    padding-top: 3vh;
}

.address .addicon {
    display: flex;
    height: 3vh;
    align-items: center;
    color: white;
    /* text-decoration: none; */
    /* border: 1px solid black; */
    margin-top: -1px;
    /* padding-top: 3vh; */
}
.address .addicon #loclogo
{
    margin-top: -8px;
    /* border: 1px solid red; */
}


/* ------search------- */


 .main_navbar .navsearch
{
    display: flex;
    justify-content: space-evenly;
    /* background-color: pink; */
    height: 40px;
    width: 620px;
    margin-left: 2.5vw;
    border-radius: 4px;
    outline: none;
}
.main_navbar .navsearch .searchselect {
    background-color: #f3f3f3 !important;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border: none !important;
}

.navsearch .searchinput {
    width: 100%;
    font-size: 1rem;
    border: none;
    padding-left: 1.5vw;
}
.navsearch .searchicon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: white;
    /* border-radius: 4px; */
     border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    color: #24aeb1;
    cursor: pointer;
}
.navsearch .searchicon i{
    color: #24aeb1;
}
.searchinput:hover {
    border: none !important;
    outline: none;
}

.navsign
{
    margin-top: 1vh;
    height: 8vh;
    /* border: 1px solid black; */
    margin-left: 3vw;
}

.navsign .sign1
{
    height: 4vh;
    /* border: 1px solid red; */
    padding-top: 1vh;
}
.navsign .sign1 p
{
    font-size: 0.7rem;
}
.navsign .sign2
{
    height: 4vh;
    /* border: 1px solid yellow; */
    margin-top: -1vh;
}
.navsign .sign2 p
{
    font-size: 0.85rem;
    font-weight: 700;
}
a.sign{

    color: white;
    text-decoration: none;
    
}
.searchicon button{
    background: white;
    border: none;
    height: 30px;
    /* outline: none; */
}
.searchicon button:hover
{
    outline: none;
    border: 2px solid white;
}
.profile 
{
    margin-left: 1.5vw;
    margin-top: -1vh;

}
.profile button
{
    width: 6vh;
    height: 6vh;
    padding: 5px;
    border:none;
    border-radius: 12vh;

}
.profile button i{
    color: #24aeb1;
}
.profile button:hover
{
    border: 2px solid rgb(13, 110, 100);
}
button.b-canvas
{
    padding: auto;
    background: white;
    border: none !important;
    /* border: 2px solid red ; */
    color:#0c4e50;
    height: 40px;
    width: 40px;
    position: relative;
    margin-left: 35vh;
}
.offcanvas-body div
{
    padding-top: 1vh;
}
.offcanvas-body div:hover
{
    background-color: #f8f6f6;
}
.navcart
{
    /* margin-top: 1vh; */
    height: 8vh;
    /* border: 1px solid black; */
    margin-left: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
a.cart
{
    text-decoration: none;
    color: white;
}
.navcart .cart1 i{
    font-size: 30px;
}
.navcart .cart2
{
    height: 4vh;
    /* border: 1px solid yellow; */
    margin-top: 2vh;
    margin-left: 4px;
}
.navcart .cart2 p
{
    font-size: 0.85rem;
    font-weight: 700;
}


/* ----------Panel------- */
.main_panel
{
    padding-top: 2.5vh;
    padding-bottom: 1vh;
    /* margin-top: 1vh; */
    /* padding-bottom: 0.5vh; */
    height: 6vh;
    background-color: #24aeb1 !important;
    display: flex;
    color: white !important;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.85rem;
    font-weight: 500;
    /* margin-left: 0.5vw; */
}
.panelops p {
    display: inline-block;
    margin-left: 3vw;
    padding-right: 3vw;
    border-right: 1px solid #0a4b4e;
}

p.Medicines {
    margin-left: 7vw !important;
}

p.Beauty {
    border: none !important;
}

.panelops p a {
    text-decoration: none ;
    color: white ;
}
p a:hover
{
    color: #062c2e;
    text-decoration: underline;
}
.panelops {
    width: 70%;
    margin-left: 2vh;
    font-size: 1rem !important;
}

.paneldeals {
    font-size: 0.9rem !important;
    font-weight: 700 !important;
}



/* ------------Media query----------- */
/* @media (max-width: 520px) {
    .header
    {
        width: 100%;
    }
    .main_navbar {
        flex-direction: column;
        align-items: center;
    }
    .head{
        display: inline;
    }
    .main_navbar .navbarlogo
    {
        width: 100%;
        max-width: 10%;
    }
    .main_navbar .address
    {
        display: none;
    }
    .main_navbar .navsearch {
        width: 80vw;
        height: 30vh;
        max-width: 100%;
        margin: 10px 0;
    }

    .main_panel {
        flex-direction: column;
        align-items: flex-start;
    }

    .panelops {
        width: 100%;
    }

    .panelops p {
        margin: 10px 0;
        border: none;
    }
} */


/* -------------main----------- */
.Category{
    margin-top: 4vh;
    margin-left: 2.5vw;
    padding-top: 2vh;
    padding-bottom: 1vh;
    /* margin-bottom: 2vh; */
    /* margin: 2vh 2vw; */
    width: 94vw;
    color: #0b6d72;
    background-color: white;
    border-radius: 20px;
    /* border: 2px solid red; */
}
/* .Category .hcategory
{
    margin-left: 2vw;
    margin-top: 2vh;
} */
.Category .g1{
    border-radius: 20px;
    
    width: 94vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
   
}
.Category .g1 .grid-item {
    border-radius: 20px;

    background-color: white;
    /* border: 2px solid #000; */
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: ; */
    font-size: 20px;
    font-weight: bold;
}
.Category .g2 .grid-item {
    border-radius: 20px;

    background-color: white;
    /* border: 2px solid #000; */
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: ; */
    font-size: 20px;
    font-weight: bold;
}

/* -----------Footer---------- */
footer .f
{
 background-color: rgb(221, 236, 236);;
    /* margin-top: 5vh; */
    margin-left: 6vw;
    margin-bottom: 0;
    display: flex;
}
footer .f ul
{
    margin-left: 3vw;
}
footer .f ul li{
    list-style-type: none;
    color: #0a4b4e;
    font-size: 1rem;
}
footer .f ul li i{
    margin-right: 0.5vw;
}