*{
    padding:0px;
    margin:0px;
    
   
}
/* -------header------- */

/* ----main--- */
body{
   
    background-color:  #f6f6f7; 
   
    
    

}

main{
     height:30rem;
     width:60rem; 
     background-color: white;
     display: flex;
     align-self:center;
     margin:auto;
     margin-top:50px;
     /* box-shadow: 0px 0px 3px 3px #24aeb1; */
    border-radius: 50px;

}
.slider
{
    width: 50%;
    border: 2px solid red;
}
.phone
{
    width: 50%;
    border: 2px solid blue;
}
