
*
{
    margin: 0;
    padding: 0;
}
header{
    background-color: #24aeb1;
    background-image: url(/images/Main_logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 15vh;
    width: 100vw;
}

main
{
    width: 100vw;
    height: 85vh;
    /* margin: 0; */
    align-content: center;
    background-color: #24aeb1;
}
.phone
{
    width: 50vh;
    height: 50vh;
    background-color: white;
}