body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background:#24aeb1;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}
.logo {
    max-width: 200px; /* Adjust the size as needed */
    height: auto;
    display: block;
    margin-right: 50px; /* Center the logo */
}

main {
    padding: 20px;
    background: white;
}

h1, h2 {
    color: #333;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #24aeb1;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}